
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
@tailwind base;
@layer base{
  @font-face {
      font-family: Agrandir;
      src: url('/fonts/Agrandir-Regular.otf') format('opentype');
      font-weight: 400;
    }
  @font-face {
      font-family: Agrandir;
      src: url('/fonts/Agrandir-TextBold.otf') format('opentype');
      font-weight: bold;
    }

  @font-face {
    font-family: Agrandir;
    src: url('/fonts/Agrandir-GrandHeavy.otf') format('opentype');
    font-weight: 900;
  }
  @font-face {
    font-family: Agrandir;
    src: url('/fonts/Agrandir-GrandLight.otf') format('opentype');
    font-weight: 300;
  }
 
  button{
    padding-top: 0;
    padding-bottom: 0;
  }
}
@tailwind components;
@tailwind utilities;

@layer utilities {

  body,
  html {
    @apply font-sans scroll-p-28 text-headline-21 text-grey-900;

    scroll-behavior: smooth;
  }

  .active-link {
    @apply font-bold text-primary-500;
  }

  .border-text{
    -webkit-text-stroke: 4px #E24A13;
   
  }

  .text-glow-strong{
    text-shadow: 1px 1px 20px #F49402;
  }

  .text-glow-normal{
    text-shadow: 1px 1px 10px rgba(244, 148, 2, 0.52);
  }

  .container-media-padding {
    @apply md:px-6 lg:px-12 px-4 xl:px-[80px] 2xl:px-[calc((100vw_-_1280px)_/_2)] 3xl:px-[calc((100vw_-_1440px)_/_2)];
  }

  .media-padding-left {
    @apply md:pl-6 lg:pl-12 pl-4 xl:pl-[80px] 2xl:pl-[calc((100vw_-_1280px)_/_2)] 3xl:pl-[calc((100vw_-_1440px)_/_2)];
  }
    .media-padding-right{
      @apply md:pr-6 lg:pr-12 pr-4 xl:pr-[80px] 2xl:pr-[calc((100vw_-_1280px)_/_2)] 3xl:pr-[calc((100vw_-_1440px)_/_2)];
    }

  .triangle {
    clip-path: polygon(100% 0, 35% 100%, 100% 100%);
  }
   .vertical-rl {
      writing-mode: vertical-rl;
    }
/* 
  .hero-bg{
    background-image: url('../assets/hero-bg-1.png')
  } */

}
@keyframes scrollX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.animate-scrollX {
  animation: scrollX 7s infinite linear;
}
.nav-item {
  color: white;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  text-decoration: none;
}
.li-hover-effect:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;;
  cursor: pointer;/* Changes the cursor to a pointer */
}
.li-hover-effect:hover .nav-item {
  color: rgba(61, 6, 125);
}
.nav-item.active {
  color: #FFDD00; /* Yellow color */
}
.li-hover-effect {
  display: flex;
  align-items: center;
  justify-content: center; 
}
.footer-hover-effect:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;;
  cursor: pointer;
}

